html, body {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body > .wrapper {
  display: block;
  width: calc(var(--grid-size) *  24);
}

body > .wrapper > * {
  float: left;
}


/* 
footer must be at least as tall as last anchor section minus window height 
there also the option of each section always being the full height
*/

@media only screen and (max-width: 960px) {}
